@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #B78847;
  --color-primary-dark: #BB8F4C;
  --color-secondary: #000000;
  --color-secondary-light: #333333;
  --color-accent: #CCAA63;
  --color-background: #000000;
  --color-text: #FFFFFF;
  --color-text-light: #f2f2f2;
}
.lowercase {
  text-transform: lowercase;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-6 py-3 rounded-md hover:bg-primary-dark transition duration-300 font-semibold;
  }

  .section-title {
    @apply text-4xl font-bold mb-8 text-secondary text-center;
  }

  .card {
    @apply bg-white shadow-lg rounded-lg overflow-hidden transition duration-300 hover:shadow-xl;
  }

  .no-print {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  @media print {
    .no-print {
      display: none;
    }
  }
}
